!!!
%html{:lang => "en-US"}
  %head
    Coup’ de Hackers

Coup is a forum in which each user can customize their avatar, post backgrounds, fonts, and signature. Post backgrounds will be especially customizable since users will be able to set pixel offsets for positioning, percentages for opacity, and layer indexes per image.

Styles could be saved after creation and once updated would be applied to all past posts by referencing a link to the currently selected style.   

These aspects of the Coup forum create another level of user interaction and give users the opportunity to experiment with visual design and photo editing in a communal environment.
