body {
	padding: 10px;
	margin: 0;
	font-family: Lucida Grande, Helvetica, Arial, sans-serif, Calibri Light;
	font-size: 12px;
	background-color: #3f3f3f;
	text-color: white;
}

#navbar {
	position: fixed;
	width: 98%;
	color: #232323;
	height: 35px;
	text-align: center;

	/* Adds shadow to the bottom of the bar */
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;

	/* Adds the transparent background */
	background-color: rgba(1, 1, 1, 0.8);
	color: rgba(1, 1, 1, 0.8);

}

img {
	float: left;
	padding-left: 5px;
	padding-bottom: 10px;
	max-width: 100%;
	max-height: 100%;
}

#navbar a {
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 100%;
	max-height: 100%;
	color: white;
	text-decoration: none;
}

#navbar a:hover {
	color: grey;
}
