= simple_form_for @post do |f|
	= f.input :title, label: "Title", input_html: {class: 'titleinput'}
	%br
	= f.input :content, label: "Post Body", input_html: {class: 'inputpostbody'}
	= f.submit input_html: {class: 'submitpost.input-button'}