body {
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
	margin: 0;
	font-family: Lucida Grande, Helvetica, Arial, sans-serif, Calibri Light;
	font-size: 12px;
	background-color: #3f3f3f;
	color: #dedede;
}

.darkblue {
	background-color: #507ea2;
}

.lightblue {
	background-color: #66a6d7;
}

.center {
	margin: auto;
	width: 75% !important;
}

.scrollable {
	overflow: auto;
}

.navbar {
	border-radius: 0px;
	border: none;
}

.navbar-blue {
	min-height: 20px !important;
	margin-bottom: 0px !important;
	margin-top: -10px !important;
}

.login-input {
	background-color: #507ea2;
	border-color: #507ea2;
	border-radius: 0px;
	color: #dedede;
}

.input-button {
	float: right !important;
	border-radius: 0px;
	background-color: blue !important;
	border-color: #232323 !important;
	width: 300px;
	height: 50px;
}

.login-button {
	margin-top: 8px;
	background-color: #232323;
}

.dropdown-menu {
	margin-top: 8px;
	text-align: center;
	color: #dedede;
	padding: 0px;
}

.form-signin {
	background-color: #232323;
	padding: 0px;
}

.navbar-inverse {
	border-color: #232323;
	background-image: none;
	background-color: #232323;
	background-repeat: no-repeat;
	border-radius: 0px;
}

.navbar-inverse a {
	color: #dedede !important;
}

.navbar-inverse a:hover {
	color: #66a6d7 !important;
	-webkit-transition: all 0.25s ease-in-out;
 	-moz-transition: all 0.25s ease-in-out;
 	-ms-transition: all 0.25s ease-in-out;
 	-o-transition: all 0.25s ease-in-out;
 	transition: all 0.25s ease-in-out;
}

.navbar .navbar-collapse .custom-collapse {
		background-color: #66a6d7;
}

@media(min-width: 786px) {
	/*.navbar-nav > li > a, .navbar-brand {
	    padding-top:4px !important;
	    padding-bottom: 4px !important;
	    height: 28px;
	}
	.navbar {
		min-height:28px !important;
	}*/

	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
}

.postbar {
	margin-top: 8px;
	margin-left: 16px;
	border: none !important;
	background-image: none;
	background-color: #66a6d7 !important;
	background-repeat: no-repeat;
	border-radius: 0px;
}

.postbar a {
	font-size: 15pt;
	margin-left: 4px;
	margin-right: 4px;
	height: 100%;
	text-align: center;
	color: #dedede;
	text-decoration: none;
}

.postbar a:hover {
	color: #507ea2 !important;
}

.postbar button:hover {
	color: #416683 !important;
}

.postbar-button {
	float: left;
	border-radius: 0px;
	margin-left: -15px !important;
	background-color: #507ea2 !important;
	border-color: #507ea2 !important;
	vertical-align: middle;
	text-decoration: none;
	height: inherit !important;
	width: 400px !important;
}

.blue-fluid {
	margin-right: -5px !important;
}

.form-control::-webkit-input-placeholder {
	color: #dedede;
	font-family: inherit;
}

.postbar-search {
	float: right;
	width: 400px !important;
	margin-right: -10px !important;
	border-radius: 0px;
	background-color: #507ea2 !important;
	border-color: #507ea2 !important;
	vertical-align: middle;
	font-size: 15pt;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:	 #dedede;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #dedede;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #dedede;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #dedede;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #dedede;
}

.postbar-button:hover {
	background-color: #3d607b !important;
	border-color: #3d607b !important;
}

.postbar-search:hover {
	background-color: #3d607b !important;
	border-color: #3d607b !important;
}

.postbar-search:focus {
	outline: none !important;
}

.searchbuttonicon {
	background: none;
	border: none;
	vertical-align: middle;
	margin-top: 6px;
	margin-right: 5px;
}

.searchbuttonicon:focus {
	outline: none;
}

.postbox {
	min-height: 100px;
	padding-top: 10px !important;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 0px !important;
	width: 100% !important;
	background-color: #232323;
	max-height: 830px;
	overflow: auto;
}

.avatar img {
	float: left;
	width: 85px;
	height: 85px;
	margin-top: -85px;
	margin-left: 5px;
}

.threadbox {
	min-height: 100px;
	padding-bottom: 10px;
	padding-left: 5px;
	background-color: #2e2d2d;
	margin-bottom: 10px;
	overflow: auto;
}

.avatar {
	margin-top: -100px !important;
	height: 90px;
	width: 90px;
}

.threadtitle {
	margin-left: 100px;
}

.titleinput{
	padding-left: 5px;
	margin-top: 10px; 
	margin-left: 50px; 
	width: 1325px; 
	font-size:20pt; 
	background-color: grey !important;
	border: none;
	border-radius: 2px !important;
}

.threadinfo {
	margin-left: 100px;
	margin-top: 10px;
}

.threadinfo a {
	color: #888888 !important;
	font-size: 12pt !important;
}

.tags {
	margin-top: -30px;
	float: right;
}

.tags a {
	margin-right: 10px;
}

kbd {
	border-radius: 10px;
	background-color: #3d3d3d;
	font-family: inherit !important;
	font-style: normal !important;
	color: #888888;
}

input:hover {
	color: #66a6d7 !important;
	-webkit-transition: all 0.25s ease-in-out;
 	-moz-transition: all 0.25s ease-in-out;
 	-ms-transition: all 0.25s ease-in-out;
 	-o-transition: all 0.25s ease-in-out;
 	transition: all 0.25s ease-in-out;
}

kbd:hover {
	color: #66a6d7 !important;
	-webkit-transition: all 0.25s ease-in-out;
 	-moz-transition: all 0.25s ease-in-out;
 	-ms-transition: all 0.25s ease-in-out;
 	-o-transition: all 0.25s ease-in-out;
 	transition: all 0.25s ease-in-out;
}

button:hover {
	color: #66a6d7 !important;
	-webkit-transition: all 0.25s ease-in-out;
 	-moz-transition: all 0.25s ease-in-out;
 	-ms-transition: all 0.25s ease-in-out;
 	-o-transition: all 0.25s ease-in-out;
 	transition: all 0.25s ease-in-out;
}

.links {
	text-align: center;
	padding-top: 2px;
}

.links a {
	padding-left: 20px;
	padding-right: 20px;
	color: #232323 !important;
	text-decoration: none;
}

.links a:hover {
	color: #dedede !important;
	-webkit-transition: all 0.25s ease-in-out;
 	-moz-transition: all 0.25s ease-in-out;
 	-ms-transition: all 0.25s ease-in-out;
 	-o-transition: all 0.25s ease-in-out;
 	transition: all 0.25s ease-in-out;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: #66a6d7;
}

.thinner {
	margin-bottom: 10px;
}

.threadpost {
	padding: 10px;
	background-color: #2e2d2d;
	margin-bottom: 10px;
}

.navatar {
	margin-top: 5px;
	width: 40px;
	height: 40px;
	border-radius: 25px;
	margin-bottom: 5px;
}

.threadpostbox {
	padding-top: 10px !important;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 0px !important;
	background-color: #232323;
	width: 1415px;
	max-height: 830px;
	overflow: auto;
}

.createthreadbox {
	min-height: 300px;
}

.usertitlebar {
	width: 90%;
	margin-left: 5px;
	padding-left: 5px;
	margin-right: 5px;
	float: right;
	background-color: #ec5db8;
	height: 35px;
}

.postavatar {
	width: 117px;
	height: 117px;
}

.postbody {
	text-align: left;
	width: 1368px;
	word-wrap: break-word;
	margin-top: -72px;
	padding-left: 135px;
	font-size: 15px;
}

.userpost {
	min-height: 137px;
}

.submitpost {
	margin-bottom: 15px !important;
	float: right;
	text-decoration: none !important;
	width: 150px;
	height: 50px;
	margin-top: -52px;
}

.inputpostbody {
	resize: vertical;
	padding: 5px;
	margin-top: 10px; 
	margin-left: 50px; 
	margin-bottom: 10px;
	width: 1325px; 
	min-height: 100px;
	background-color: grey;
	border: none;
	border-radius: 2px;
}

.createtitle {
	width: 1415px;
	height: 42px;
}

.threadtoptext {
	padding-top: 10px;
	font-size: 15px;
	height: 100%;
	text-align: center;
}

.threadtoppages {
	float: left;
	padding-left: 5px;
	padding-top: 7px;
}

.threadtoppages a {
	font-size: 15pt;
	margin-left: 4px;
	margin-right: 4px;
	text-align: center;
	color: #dedede;
	text-decoration: none;
}
